**/node_modules
tsconfig.tsbuildinfo

# Writing these explicitly so I know they exist
apps/agent/.env
apps/agent/dist
apps/agent/agent.cjs

apps/website/.env
packages/db/.env

config.dev.toml

.sisyphus/
apps/website/playwright-report/
apps/website/test-results/

test/data/
